html,
 body {
   height: 100%;
   margin: 0;
   padding: 0;
   display : flex;
   flex-flow : column;
 }

/*body {
  flex : auto;
}*/

main {
  display : flex;
  flex-flow: column;
}



 #name {
   font-family: 'Rancho', cursive;
   font-size: 35pt;
   position: relative;
   margin: 0 auto;
   top: 0;
   left: 0;
   text-align: center;
   width: 600px;
   /*z-index: 10;*/
   background-color: #fff;
   padding: 20px;
   border-radius: 15px 15px 15px 15px;
   border: 6px solid #000000;
   /*font-family: sans-serif;*/
   flex : auto;;
 }

 /*#name > p {
   font-family: 'Rancho', cursive;
   font-effect: 'shadow-multiple'
 }*/
#outerdiv{
  position: relative;
  margin: 0 auto;
  width: 600px;

  padding: 20px;
  color: black;

  border-radius: 15px 15px 15px 15px;
  border: 6px solid #000000;

}


 #map{

   flex : auto;
   /*height: 100%;
   top: 24px;*/
 }

 img {
   position: relative;
display: inline-block;
margin: 0 auto;
height: 600px;
width: 600px;
padding: 20px;
border-radius: 15px 15px 15px 15px;
border: 6px solid #000000;
}
